<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>{{pre_val}}</h1>
    <div>
        <form action="/">
            길이<input type="number" name="length" id="length">
            <br>
            무게<input type="number" name="weight" id="weight">
            <br>
            <input type="submit" value="입력">
        </form>
    </div>
    <div class="row">
        <img src="{{fish_img}}">
    </div>
</div>
</body>
</html>